.vscode
*.egg-info
__pycache__
data/
.neptune
output/
results/
outputs/
wandb/
lightning_logs/
output_glae/
venv/
build/
mlruns/
mlflow/
dev/
cache/
storage/
server_results/
*.db

*.pdf
*.jpg
*.pth
*.ipynb_checkpoints
.dev
*.png

!baselines/active_learning/notebooks/learning_curves/**