torch>=2.0.1
torchmetrics>=0.11.4
torchvision>=0.15.2
lightning>=2.0.2
tensorboard>=2.13.0
numpy>=1.24.3
matplotlib>=3.7.1
scikit-learn>=1.2.2
tqdm>=4.65.0
Pillow>=9.5.0
transformers>=4.29.1
datasets>=2.12.0