torch>=2.0.0
lightning>=2.0.2
torchmetrics>=0.11.4
torchvision>=0.15.1
tensorboard>=2.12.2
numpy>=1.22.4
matplotlib>=3.7.1
scikit-learn>=1.2.2
tqdm>=4.65.0
Pillow>=8.4.0
transformers>=4.29.1
datasets>=2.12.0